// app global css in SCSS form
.q-item__section--avatar {
  min-width: auto;
}

@media (max-width: $breakpoint-sm-max) {
	.q-timeline__dot {
		left: 0 !important;
	}
}

.q-item.q-router-link--active, .q-item--active {
	background-color: $info;
  color: $accent;
	filter: brightness(120%);
}

body.body--light {
	background-color: #e0e0e0;
	color: #2f2f2f;
}

body.body--dark {
	background-color: #212121;
	color: #d5d5d5;
}


h5 {
	font-size: 1.25rem;
	margin-bottom: 0;
	margin-top: 0;
}

.q-card--bordered {
	border: 1px solid #6c6c6c;
}

.text_underlined {
	text-decoration: underline;
}

.editable_block:hover {
	background-color: $secondary!important;
	cursor: pointer;
}

// Mentioning snippet class
.m_snp {
	display: inline-block;
	font-weight: 800;
	background-color: $info;
	border-radius: 5px;
	color: white;
	padding: 5px 8px;
	margin-right: 5px;
}

.m_snp:before {
	content: '@';
	padding-right: 3px;
}

.m_snp:after {
	content: '';
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.drag_to_point_highlighter {
	min-height: 20vh!important;
	border: 1px dashed #424242!important;
	background-color: #494949 !important;
}
