// app global css in SCSS form
.q-item__section--avatar {
  min-width: auto;
}

.q-item.q-router-link--active, .q-item--active {
  color: #9c9c9c;
	filter: brightness(120%);
}

body.body--light {
	background-color: #e0e0e0;
	color: #2f2f2f;
}

body.body--dark {
	background-color: #212121;
	color: #d5d5d5;
}


h5 {
	font-size: 1.25rem;
	margin-bottom: 0;
	margin-top: 0;
}

.q-card--bordered {
	border: 1px solid #6c6c6c;
}

.short_button {
	width: 80px;
}

.text_underlined {
	text-decoration: underline;
}

.editable_block:hover {
	background-color: var(--q-color-secondary)!important;
	color: var(--q-color-dark)!important;
}

.editor_token {
	display: inline-block;
	font-weight: 700;
	background-color: $info;
	border-radius: 5px;
	color: white;
	padding: 3px 6px;
	margin: 0;
}

.editor_token:before {
	content: '@'
}
