// app global css in SCSS form
.q-item__section--avatar {
  min-width: auto;
}

.q-item.q-router-link--active, .q-item--active {
  color: #9c9c9c;
	filter: brightness(120%);
}

body.body--light {
	background-color: #e0e0e0;
}

.q-card--bordered {
	border: 1px solid #6c6c6c;
}
