$primary		: #7b7b7b;
$secondary	: #939393;
$accent			: #d5d5d5;

$dark      	: #2e2e2e;
$darkest		: #212121;

$positive  	: #21BA45;
$negative  	: #C10015;
$info      	: #505050;
$warning   	: #F2C037;
